.article {
	position: relative;
	top: 80px;
	width: 80%;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	background-color: blue;
    flex-direction: column;
}

.article h1 {
	padding: 10px;
}

.article .contents {
	padding: 10px;
}